* {
margin: 0;
padding: 0;
box-sizing: border-box;
user-select: none;    
}

main {
background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.329), rgba(150, 12, 168, 0.678)) ; 
justify-content: center;
align-items: center;
display: flex;
min-height: 100vh;

}

hr {    
height: 1px;
width: 100%;
border:#c7c7db;
background-color:#c7c7db;
margin:15px auto;
padding: 0.5px;
}

.surround-container {
background: white;
padding: 70px;
height: 520px;
width: 700px;
box-shadow: 5px 2px 10px;
text-align: center;
color: rgb(77, 74, 74);
}

.card-body{
background-color: white;
padding: 30px;
}

input {
border-style: dashed;
padding: 40px;
height: 200px;
width: 500px;
border-width: 0.5px;
border-color: lightgray;
text-align: center;
user-select: none;
outline: none;
font-size: 15px;
}

input::placeholder{
    font-size: 20px;
} 

h1 {
text-align: center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 247, 247);
background-color: #312b31;
padding: 15px;
}

table {
display: flex;
align-items: center;
justify-content: center;
}

#generate,
#copy {
font-family: sans-serif;
font-size: 15px;
margin-top: 40px;
border: 2px solid rgb(231, 20, 250);
width:155px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
background: #db0cee;
color: white;
border-radius: 7px;
cursor: pointer;
}

#copy {
margin-left: 85px;
    
}
#generate:hover,
#copy:hover {
color: white;
background-color: rgb(116, 7, 97);
    
}


  footer {
text-align: center;
padding: 10px;
background-color: white;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  @media screen and (max-width:992px) {
    .surround-container,
    .card-body,
    input {
width: 100%;
}
      
}